<app-header title="GNSS" [hamburger]="true"></app-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="receiver">
        <ion-icon name="bluetooth-outline"></ion-icon>
        Receiver
      </ion-tab-button>
      <ion-tab-button tab="corrections">
        <ion-icon name="wifi-outline"></ion-icon>
        Corrections
      </ion-tab-button>
      <ion-tab-button tab="map">
        <ion-icon name="map-outline"></ion-icon>
        Map
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
