@import "../../theme/extensions";

app-header {
  position: absolute;
  top: 0;
}

#hero {
  height: 33.33vh;
  padding: 4rem;

  background-image: url("../../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--ion-color-light);
  text-align: center;

  & ion-img {
    width: 3rem;
  }

  & h1,
  & h2 {
    margin: 0.5rem 0;
    font-weight: 700;
  }

  & h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  & hr {
    width: 3rem;
    height: 2px;
    background: white;
    margin: 0.5rem 0;
  }
}

ion-card[button] {
  aspect-ratio: 4/3;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;

  ion-card-content {
    @extend .ion-flex-center;
  }

  ion-col:nth-child(even) & {
    margin-left: 0.8rem;
  }

  ion-col:nth-child(odd) & {
    margin-right: 0.8rem;
  }

  ion-text {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
}
